{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hidden places to take great pictures{% endblock %}

{% block page_content %}
    <div class="page-header">

      <img src="/static/hackathon_icon.jpg" class="img-responsive" style="max-width: 40px; width:100%; height:auto; align:left; margin-right:10px; display:inline;"> This is a small hackathon project created on the Trivago Hackathon 2015.
      The topic is/was "<b>a new way of travelling</b>".<br>
      <br>
      <h3><img src="/static/package_icon.png" class="img-responsive" style="max-width: 40px; width:100%; height:auto; align:left; margin-right:10px; display:inline;"> Code repository</h3><br>
      <a href="https://github.com/TrivagoHackathonFirefly/project" target="_blank">TrivagoHackathonFirefly @ Github</a><br><br>
      <h3><img src="/static/twitter.png" class="img-responsive" style="max-width: 40px; width:100%; height:auto; align:right; margin-right:10px; display:inline;"> Twitter account</h3><br>
      <a href="https://twitter.com/DEfirefly" target="_blank"><b>@DEfirefly</b></a><br><br> 
      <h3><img src="/static/team.png" class="img-responsive" style="max-width: 40px; width:100%; height:auto; align:right; margin-right:10px; display:inline;"> Team members</h3><br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class "row">
            <b>Daniel Espendiller</b><br>
            <img src="/static/daniele.png" class="img-responsive" style="max-width: 320px; width:100%; height:auto; align:right; padding-right:6px;"><br><br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <b>Markus Rekkenbeil</b><br>
            <img src="/static/markusr.jpg" class="img-responsive" style="max-width: 320px; width:100%; height:auto; align:right; padding-right:6px;"><br><br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <b>Tobias Siebenlist</b><br>
            <img src="/static/tobiass.jpg" class="img-responsive" style="max-width: 320px; width:100%; height:auto; align:right; padding-right:6px;"><br><br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <b>Jens Terliesner</b><br>
            <img src="/static/jenst.jpg" class="img-responsive" style="max-width: 320px; width:100%; height:auto; align:right; padding-right:6px;"><br><br>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
