{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hidden places to take great pictures{% endblock %}

{% block page_content %}
    <div class="page-header">
    This is a small hackathon project created on the Trivago Hackathon 2015.<br>
    The topic is/was "<b>a new way of travelling</b>".<br>
    <br>
    <h3>Code repository</h3>
    <a href="https://github.com/TrivagoHackathonFirefly/project" target="_blank">TrivagoHackathonFirefly @ Github</a><br>
    <h3>Team members</h3>
    <img src="static/denise.png"><br>
    <b>Daniel Espendiller</b><br><br>
    <img src="static/markusr.jpg"<br>
    <b>Markus Rekkenbeil</b><br><br>
    <img src="static/tobiass.jpg"<br>
    <b>Tobias Siebenlist</b><br><br>
    <img src="static/jenst.jpg"<br>
    <b>Jens Terliesner</b><br><br>
    </div>
{% endblock %}
