{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hiden places to take great pictures{% endblock %}

{% block page_content %}
<div class="page-header">

<div class="container-fluid">
{{ wtf.quick_form(form) }}
</div>
</div>

<h1>{% if db_result %}
        Result for {{ query }}
    {% else %} 
        {% if query %} No result for {{ query }} in Database! 
    {% else %}  
    {% endif %}{% endif %}</h1>

{% if db_result %} {{ db_result }}{% else %} {% endif %}

<div id="map-canvas"></div>

<div id="pic-content">
    <div class="content">
        dfgdfgdfgdfgfdgfdg
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script src="richmarker.js"></script>
<script src="map.js"></script>
{% endblock %}
