{% extends "base.html" %}


{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hidden places to take great pictures{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="container-fluid">
        <form method="post" class="form" role="form">

            <div class = 'col-xs-4 col-md-4'>

            {{ form .hidden_tag()}}

        <div class="form-group "><input class="form-control" id="search_query" name="search_query" type="text" placeholder = "Where do you want to search the firefly?"value="{{query}}" ></div>
        </div>

        <div class = 'col-xs-6 col-md-4'>

            <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit" style = 'display:inline;' ></div>
  </div>

</form>
    </div>
</div>


<div id="map-canvas" data-uri="http://visitfirefly.de/photos/{lat}/{lng}" data-q="{{ query }}"></div>

<div class="map-canvas-wrap">
    <div id="map-canvas" data-uri="http://visitfirefly.de/photos/{lat}/{lng}" data-q="{{ query }}"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="image"></div>
                    </div>

                    <div class="col-md-4">
                        <div class="row sub-image"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <span class="desc"></span><br/>
                    <span class="views pull-left"></span>
                </div>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script src="http://visitfirefly.de/static/richmarker.js"></script>
<script src="http://visitfirefly.de/static/map.js"></script>
{% endblock %}
