{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hidden places to take great pictures{% endblock %}

{% block page_content %}
    <div class="page-header">
      <ul style="list-style-type:square">We are using the following <b>technology</b> stacks:
        <li>Python Flask + Bootstrap</li>
        <li>JavaScript</li>
        <li>Nginx webserver + uSWGI + FastCGI</li>
        <li>MariaDB MySQL</li>
      </ul><br><br>
      <ul style="list-style-type:square">The following <b>APIs</b> are in use:
        <li>Flickr API for photos</li>
        <li>Google Maps JavaScript API for Heatmap Layer</li>
      </ul>
    </div>
{% endblock %}
