{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} visitfirefly.de - Find hidden places to take great pictures{% endblock %}

{% block page_content %}
    <div class="page-header">
      We are using the following technology stacks:
      - Python Flask + Bootstrap
      - JavaScript
      - Nginx webserver + uSWGI + FastCGI
      - MariaDB MySQL
      <br><br>
      The following APIs are in use:
      - Flickr API for photos
      - Google Maps JavaScript API for Heatmap Layer
      <br>
    </div>
{% endblock %}
